body {
    background-color: #00bcd4;
}
.card-title{
    font: 24px/45px; 
    font-family: 'Oilrig', cursive;
}
ul p{
    font: 24px/45px; 
    font-family: 'Oilrig', cursive; 
}

.material-icons{
     margin-left: 40px; 
color: #000000;
}  

.card-text {
    margin-left: 10px;
}