.navigation {
    background-color: #00bcd4;
}

.navbar {
    width: 100%;
    height: 50px;
    justify-content: center !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    /*padding: 2px 16px;*/
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.AgeNJob{
    position: absolute;
    top: 0px;
    padding-bottom: 20px;
    margin-top: 450px;
    padding: 15px;
    color: rgb(250, 250, 250);
}
.carouselExampleControls{
    height: 100%;
}
 h2 span { 
    color: rgba(0, 0, 0, 0); 
    font: bold, 24px/45px; 
    font-family: 'Oilrig', cursive;
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    /* padding: 10px;  */
    margin-top: 580px;
 }  

 hr{
     margin-bottom: 50px;
 }

.profile-img {
     height: 100vh;
     position: relative;
     right: 200px;
     z-index: -1;
 }

 .logo {
    height: 30;
    top:0;
    left: 0;
    position: relative;
 }